<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-data">Using City Data in Excel</h3>
    <p>Excel is a tool that many people are familiar with, and many people use every day. Excel can be leveraged to unlock the value of open data of all kinds, and it is particularly well-suited to query and visualize open data from multiple sources.  In this session, you will learn how to use excel for:</p>
    <ul>
      <li>Accessing data</li>
      <li>Analyzing data</li>
      <li>Mapping data</li>
      <li>Transforming data</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Counting and sorting contents in files</li>
      <li>Pipes and redirection</li>
      <li>Mining or searching in files</li>
      <li><a href="https://librarycarpentry.github.io/lc-shell/reference">Reference...</a></li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Configuring git</li>
      <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing state changes with <code>status</code></li>
      <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Where to host work, and why</li>
      <li><a href="https://librarycarpentry.github.io/lc-git/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3 id="syllabus-openrefine">OpenRefine</h3>
      <ul>
        <li>Introduction to OpenRefine</li>
        <li>Importing data</li>
        <li>Basic functions</li>
        <li>Advanced Functions</li>
        <li><a href="https://librarycarpentry.github.io/lc-open-refine/reference">Reference...</a></li>
      </ul>
    </div>
  </div>
</div>
